@model List<Schema_Application.ViewModels.RandomizeActivitySummeriesViewModel>


<div class="randomize-activitysummery">
    <div class="form">
        <div id="activity-holder" class="form-group randomize-group">
            <h3>@Model[0].ActivityName</h3>
        </div>
        <div id="dayOfWeek-holder" class="form-group randomize-group">
            <p>Optional</p>
            <p>Choose which day of the week you want to workout</p>
        </div>
        @if (@Model[0].ActivityId != 2 || @Model[0].ActivityId != 3)
        {
            <div id="" class="form-group randomize-group">
                <p>Optional</p>
                <p>Do you want to @Model[0].ActivityName before you work/study or after you work/study?</p>

            </div>
        }
        <div id="hours-holder" class="form-group randomize-group">
            <p>Optional</p>
            <p>For how long period do you want to do this activity each time</p>
            @Html.LabelFor(model => model[Model[0].CountIndex].ActivityTime)
            @Html.EditorFor(model => model[Model[0].CountIndex].ActivityTime)
        </div>
        <div id="description-holder" class="form-group randomize-group">
            @Html.LabelFor(model => model[Model[0].CountIndex].Description)
            @Html.EditorFor(model => model[Model[0].CountIndex].Description, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>