@model Schema_Application.ViewModels.RandomizeActivitySummeriesViewModel

<div class="randomize-activitysummery">
    <div class="form">
        <div id="activity-holder" class="form-group randomize-group">
            <h3>@Model.ActivityName</h3>
        </div>
        <div id="[@Model.CountIndex]dayOfWeek-holder" class="form-group randomize-group">
            <p>Optional</p>
            <p>Choose which day of the week you want to @Model.ActivityName</p>
        </div>
        @if (@Model.ActivityId == 1)
        {
            <div id="" class="form-group randomize-group">
                <p>Optional</p>
                <p>Do you want to @Model.ActivityName before you work/study or after you work/study?</p>
                @Html.LabelFor(model => model.WhenWorkout)
                @Html.CheckBoxFor(model => model.WhenWorkout, new { @Name = "[" + Model.CountIndex + "].WhenWorkout", @class = "form-control" } )
            </div>
        }
        <div id="hours-holder" class="form-group randomize-group">
            <p>Optional</p>
            <p>For how long period do you want to do this activity each time</p>
            @Html.LabelFor(model => model.ActivityTime)
            @Html.EditorFor(model => model.ActivityTime, new { htmlAttributes = new { @Name = "[" + Model.CountIndex + "].ActivityTime", @class = "form-control" } })
        </div>
        <div id="description-holder" class="form-group randomize-group">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @Name = "[" + Model.CountIndex + "].Description", @class = "form-control" } })
        </div>
    </div>
</div>