@model Schema_Application.ViewModels.ActivitySummeryViewModel

@{
    Layout = null;
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "schemaActivities",
        
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSchema</title>
</head>
<body>
    <div> 
        @using (Ajax.BeginForm(ajaxOptions))
        {
            @Html.AntiForgeryToken()
            
            <div class="form">
                <div id="activity-holder">
                    
                </div>
                <div id="dayOfWeek-holder">

                </div>
                <div id="hours-holder">
                    
                </div>
                <div id="specific-hours-holder">
                    @Html.LabelFor(model => model.StartTime)
                    @Html.EditorFor(model => model.StartTime)
                    @Html.LabelFor(model => model.EndTime)
                    @Html.EditorFor(model => model.EndTime)
                </div>
                <div id="description-holder">
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div id="add-activity-holder">
                    <input type="submit"/>
                </div>
            </div>
            
        }
        <div id="schemaActivities">

        </div>
    </div>
    @Scripts.Render("~/Scripts/get.information.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ajax")

</body>
</html>
