@model Schema_Application.ViewModels.ActivitySummeryViewModel

@{
    ViewBag.Title = "Show schema";
    Layout = "~/Views/Shared/_LayoutSchema.cshtml";
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "schemaActivities",
        
    };
}


    <div> 
        @using (Ajax.BeginForm(ajaxOptions))
        {
            @Html.AntiForgeryToken()
            
            <div class="form">
                <div id="activity-holder" class="form-group">
                    
                </div>
                <div id="dayOfWeek-holder" class="form-group">

                </div>
                <div id="hours-holder" class="form-group">
                    <!--Nothing to put in here yet, might remove div-->
                </div>
                <div id="specific-hours-holder" class="form-group">
                    @Html.LabelFor(model => model.StartTime)
                    @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.EndTime)
                    @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div id="description-holder" class="form-group">
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div id="add-activity-holder" class="form-group">
                    <input type="submit" class="btn btn-default" />
                </div>
            </div>
            
        }
        <div id="schemaActivities">

        </div>
    </div>
   
    @section Scripts{
        @Scripts.Render("~/Scripts/AppSpecificScripts/get-information.js")
        @Scripts.Render("~/Scripts/AppSpecificScripts/create-schema.js")
        @Scripts.Render("~/bundles/ajax")
    }
